In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('../data/Fifa_players.csv', index_col='id')
df.head()

,Name,Age,Nationality,Overall_Rating,Potential,Club,Acceleration,Aggression,Agility,Balance,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
id,,,,,,,,,,,,,,,,,,,,,
1,L. Messi,30,Argentina,93,93,FC Barcelona,92,48,90,95,...,95,88,85,26,87,73,28,59,90,85
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,94,56,96,82,...,88,81,80,33,90,78,24,53,80,83
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,58,29,52,35,...,85,55,25,11,61,44,10,83,70,11
6,De Gea,26,Spain,90,92,Manchester United,57,38,60,43,...,88,50,31,13,58,40,21,64,68,13
8,T. Kroos,27,Germany,90,90,Real Madrid CF,60,60,71,69,...,86,90,87,69,52,77,82,74,88,82

In [3]:
df.shape

(7343, 41)

In [ ]:
df.